@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@inject IPageBuilderDataContextRetriever pageBuilderDataContextRetriever

@{
    var context = pageBuilderDataContextRetriever.Retrieve();
    var pageBuilderDisabled = context is null || context.GetMode() == PageBuilderMode.Off;
    string s = string.Empty;
}

<!doctype html>

<html class="scroll-smooth">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <page-builder-styles />
</head>
<body>
    @RenderBody()
    <page-builder-scripts />
</body>
</html>